
.card {
    background: #fff;
    border-radius: 5px;
    margin-bottom: 30px;
    -ms-box-shadow: 0 10px 30px 0 rgba(0,60,179,.05);
    -o-box-shadow: 0 10px 30px 0 rgba(0,60,179,.05);
    box-shadow: 0 10px 30px 0 rgba(0,60,179,.05);
    border: 0 solid #dfe7ff
}

.card .card-header-border {
    border-bottom: 1px solid #f1f1f1
}

.card .card-header {
    background: transparent;
    border-radius: 0;
    padding: 20px;
    margin-bottom: 0;
    -ms-flex-align: center!important;
    align-items: center!important
}

.card .card-header .header-title .card-title {
    font-weight: 700;
    margin-bottom: 0
}

.card .card-footer {
    background: transparent;
    border-top-color: #f1f1f1
}

.card-transparent {
    background: transparent;
    border-radius: 5px;
    margin-bottom: 30px;
    border: none;
    box-shadow: none
}

.card-transparent .card-header {
    background: transparent;
    border-radius: 0;
    padding: 20px;
    margin-bottom: 0;
    -ms-flex-align: center!important;
    align-items: center!important;
    border: none
}

.card-transparent .card-header .header-title .card-title {
    margin-bottom: 0
}

.card-body {
    padding: 20px
}

.card-header-toolbar .nav-item a {
    color: #324253;
    padding: 4px 12px;
    font-size: 14px
}

.card-header-toolbar .dropdown-toggle i {
    font-size: 20px;
    line-height: normal;
    vertical-align: text-bottom
}

.card-header-toolbar .dropdown-toggle:after {
    display: none
}

.card-header .dropdown-bg {
    border-radius: 5px
}

.card-block.card-stretch {
    -ms-flex-align: stretch;
    align-items: stretch
}

.card-block.card-height-third {
    height: calc(33.33% - 30px)
}

.card-block.card-height-half {
    height: calc(50% - 30px)
}

.card-block.card-height {
    height: calc(100% - 30px)
}

.card-block {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-direction: column;
    flex-direction: column
}

.card-body-list {
    padding: 0
}

.card-body-list ul>li {
    border-bottom: 1px solid #f1f1f1
}

.card-body-list ul>li:last-child {
    border-bottom: none
}

.card-body .border-top-table {
    border-top: 1px solid #f1f1f1
}
