.ripple-div {
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.ripple-div>.ripple-span {
  width: 20px;
  height: 20px;
  position: absolute;
  background: rgba(0, 0, 0, 0.438);
  display: block;
  content: "";
  border-radius: 100%;
  opacity: 1;
  animation: 2000ms ease 1 forwards ripple-effect;
}

@keyframes ripple-effect {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  /* 50% {
    transform: scale(10);
    opacity: 0.375;
  } */

  100% {
    transform: scale(40);
    opacity: 0;
  }
}