.ripple {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}

.ripple-span {
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    /* background-color: rgba(0, 0, 0, 0.2); */
    background-color: rgba(240, 12, 12, 0.2);
    animation: ripple 1s;
}

@keyframes ripple {
    from {
        transform: scale(0);
        opacity: 1;
    }
    to {
        transform: scale(2);
        opacity: 0;
    }
}